In [1]:
import os
os.chdir('../..')
os.getcwd()

'D:\\StockMaster'

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


from sklearn.preprocessing import MinMaxScaler

In [4]:
import pandas_datareader as pdr
df= pdr.get_data_yahoo('AAPL', '2000-01-01')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1999-12-31,3.674107,3.553571,3.604911,3.671875,40952800.0,3.178732
2000-01-03,4.017857,3.631696,3.745536,3.997768,133949200.0,3.460857
2000-01-04,3.950893,3.613839,3.866071,3.660714,128094400.0,3.169071
2000-01-05,3.948661,3.678571,3.705357,3.714286,194580400.0,3.215448
2000-01-06,3.821429,3.392857,3.790179,3.392857,191993200.0,2.937188
...,...,...,...,...,...,...
2020-07-02,370.470001,363.640015,367.850006,364.109985,28510400.0,364.109985
2020-07-06,375.779999,369.869995,370.000000,373.850006,29663900.0,373.850006
2020-07-07,378.619995,372.230011,375.410004,372.690002,28106100.0,372.690002
2020-07-08,381.500000,376.359985,376.720001,381.369995,29273000.0,381.369995
2020-07-09,385.269989,378.690002,385.049988,383.010010,31362900.0,383.010010

In [5]:
def nplog(dataframe):
    
    temp = np.log(dataframe)
    
    return temp

In [6]:
log_df = nplog(df)
log_df

                High       Low      Open     Close     Volume  Adj Close
Date
1999-12-31  1.301310  1.267953  1.282297  1.300702  17.527931   1.156482
2000-01-03  1.390749  1.289700  1.320565  1.385736  18.712971   1.241516
2000-01-04  1.373942  1.284771  1.352239  1.297658  18.668278   1.153439
2000-01-05  1.373376  1.302524  1.309780  1.312186  19.086356   1.167967
2000-01-06  1.340624  1.221672  1.332413  1.221672  19.072971   1.077453
...              ...       ...       ...       ...        ...        ...
2020-07-02  5.914772  5.896164  5.907675  5.897456  17.165779   5.897456
2020-07-06  5.929004  5.913152  5.913503  5.923855  17.205441   5.923855
2020-07-07  5.936533  5.919512  5.928019  5.920747  17.151497   5.920747
2020-07-08  5.944111  5.930546  5.931502  5.943770  17.192176   5.943770
2020-07-09  5.953944  5.936718  5.953373  5.948061  17.261136   5.948061

[5163 rows x 6 columns]

In [7]:
def make_col_df(train_scdf):
    for i in train_scdf.columns:
        print("df_{}".format(i))
        globals()["df_{}".format(i)] = train_scdf[[i]]
        
    return globals()["df_{}".format(i)]

In [47]:
make_col_df(log_df)

df_High
df_Low
df_Open
df_Close
df_Volume
df_Adj Close

            Adj Close
Date
1999-12-31   1.156482
2000-01-03   1.241516
2000-01-04   1.153439
2000-01-05   1.167967
2000-01-06   1.077453
...               ...
2020-07-02   5.897456
2020-07-06   5.923855
2020-07-07   5.920747
2020-07-08   5.943770
2020-07-09   5.948061

[5163 rows x 1 columns]

In [48]:
def shift_df(*dataframes, start=1, end=2):  
    for dataframe in dataframes:
        for s in range(start, end):
            dataframe['shift_{}'.format(s)] = dataframe[dataframe.columns[0]].shift(s)
        dataframe.dropna(inplace=True)
    return dataframe

In [49]:
shift_df(df_High, df_Low)

                 Low   shift_1
Date
2000-01-03  1.289700  1.267953
2000-01-04  1.284771  1.289700
2000-01-05  1.302524  1.284771
2000-01-06  1.221672  1.302524
2000-01-07  1.226922  1.221672
...              ...       ...
2020-07-02  5.896164  5.896907
2020-07-06  5.913152  5.896164
2020-07-07  5.919512  5.913152
2020-07-08  5.930546  5.919512
2020-07-09  5.936718  5.930546

[5162 rows x 2 columns]

In [50]:
def df_concat(*dataframes):
    all_Df =  pd.concat([*dataframes], axis=1)
    return all_Df

In [51]:
df_concat(df_High, df_Low)

                High   shift_1       Low   shift_1
Date
2000-01-03  1.390749  1.301310  1.289700  1.267953
2000-01-04  1.373942  1.390749  1.284771  1.289700
2000-01-05  1.373376  1.373942  1.302524  1.284771
2000-01-06  1.340624  1.373376  1.221672  1.302524
2000-01-07  1.282916  1.340624  1.226922  1.221672
...              ...       ...       ...       ...
2020-07-02  5.914772  5.906342  5.896164  5.896907
2020-07-06  5.929004  5.914772  5.913152  5.896164
2020-07-07  5.936533  5.929004  5.919512  5.913152
2020-07-08  5.944111  5.936533  5.930546  5.919512
2020-07-09  5.953944  5.944111  5.936718  5.930546

[5162 rows x 4 columns]

In [ ]:
all_Df.drop(['PDI', 'MDI', 'ADX', 'Close'], axis=1, inplace=True)

all_Df =  pd.concat([df_Open, df_High, df_Low, df_Close, df_Volume], axis=1)
all_Df.drop(['Open', 'High', 'Close', 'Low', 'Volume'], axis=1, inplace=True)

x_train = np.array(all_Df).reshape(len(all_Df), 4, 2)

y_train = df_Close['Close']